/* PHASE 0: Sidebar */

.profile-picture {
    display: block;
    position: relative;
    margin-top: auto;
}

.profile-info {
    position: absolute;
    transform: rotate(0.5turn);
    box-shadow: 5px 10px;
}

.profile-nav {
       
}

